<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Display Board</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>

    <div class="container">
        <a href="/" class="btn">Back to Dashboard</a>
        <h1>Update Display Board</h1>

        <form action="/board/update-board/<%= dBoardId %>" method="POST">
            <input type="hidden" name="dBoardId" value="<%= dBoardId %>">
            <p style="font-size: 20px; font-weight: 700;"><%= displays[dBoardId] ? displays[dBoardId].title : '' %></p>
            
            <label for="message">New Message:</label>
            <textarea name="message" id="message" required></textarea>
            <br>
            <br>
            <label for="date">Select Date:</label>
            <input type="date" name="date" id="date" required>
            <br>
            <br>
            <label for="startTime">Start Time:</label>
            <input type="time" name="startTime" id="startTime" required>
            <br>
            <br>
            <label for="endTime">End Time:</label>
            <input type="time" name="endTime" id="endTime" required>
            <br>
            <br>
            <button type="submit">Update</button>
        </form>
    </div>

</body>
</html>
