<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Board</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
<img src="/images/back.svg" alt="" width="100" height="100">
    <div class="container">
        <h1><%= board.title %></h1>
        <h2>Location: <%= board.location %></h2>
        <p>Current Message:</p>
        <blockquote><%= board.message %></blockquote>
        <a href="/board" class="btn">Back</a>
    </div>

</body>
</html>
