<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCSIT Display Boards</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>

    <div><a href="/auth/logout" class="lOutBtn">Logout</a></div>
    <div class="container">
        <div id="displayDataJSON" style="display:none;">
            <%= JSON.stringify(displayData) %>
        </div>
        <h1><%= displayData.title %></h1>
        <p class="message"><%= displayData.message %></p>
        <p class="timestamp" id="lastUpdated">Last Updated: <%= displayData.lastUpdated %></p>
        <a href="/tt/view-timetable" class="btn">Manage Time Table</a>
        <br>
        <a href="/board/board" class="btn">Change Board</a>
    </div>

    <script>
        function updateTime() {
            const timeElement = document.getElementById("lastUpdated");
            if(timeElement) {
                const now = new Date();
                timeElement.textContent = "Last Updated: " + now.toLocaleString(); // include the prefix if desired
            }
        }
        // Update time every second
        setInterval(updateTime, 1000);
      </script>      

</body>
</html>