<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCSIT Display Boards</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>

    <div class="container">
        <h1><%= displayData.title %></h1>
        <p class="message"><%= displayData.message %></p>
        <p class="timestamp">Last Updated: <%= displayData.lastUpdated %></p>
        <a href="/timetable" class="btn">Manage Time Table</a>
        <br>
        <a href="/board" class="btn">Change Board</a>
    </div>

    <script>
        function updateTime() {
            const timeElement = document.getElementById("lastUpdated");
            const now = new Date();
            const formattedTime = now.toLocaleString(); // Adjust format as needed
            timeElement.textContent = formattedTime;
        }

        // Update time every second
        setInterval(updateTime, 1000);
    </script>

</body>
</html>