<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Display Boards</title>
    <link rel="icon" href="/images/Untitled_design-removebg-preview(1).png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-black">
    <div class="flex flex-col items-center justify-center h-screen p-10">
        
        <form action="/auth/login" method="POST" class="bg-gray-800 py-8 px-10 w-96 rounded-2xl shadow-md flex items-center justify-center flex-col text-black">
            <h2 class="text-2xl mb-4 text-white">Login</h2>
            <input type="text" name="email" placeholder="Email" required class="mb-4 text-center py-2 w-full rounded">
            <input type="password" name="password" placeholder="Password" required class="mb-4 text-center py-2 w-full rounded">
            <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold mt-6 py-2 px-4 text-center rounded focus:outline-none focus:shadow-outline">Login</button>
        </form>
        <p class="py-4 text-white">Not Registered Yet? Register Now</p>
        <div class="flex justify-center gap-4 mt-1">
            <a href="/register" class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-4 text-center rounded focus:outline-none focus:shadow-outline">Register</a>
            <p class="text-xl text-white">OR</p>
            <a href="/login" class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-4 text-center rounded focus:outline-none focus:shadow-outline">Google Login</a>
        </div>
    </div>
</body>
</html>
